
@{
    ViewData["Title"] = "About";
}
<style>
    body {
        /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
    h1 {
        text-align:center;
    }
    .container {
        position: relative;
    }
       
    
    .img-br{
        position: absolute;
        bottom: 0;
        right: 0;
        
    
</style>

<h1>About Us</h1>

/* notes
    We are here to help our staff to present themselves with the profile template we porvided.
    For the students who want to search for our staff for whatever reason. Our website is designed to be easy to use.
    Our story: I have always wanted to know if there is an easier way to search who I am looking for.
    So I started this project. 
*/

/* sidebar */