
@{
    ViewData["Title"] = "About";
}
<style>
    body {
        /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
    h1 {
        text-align:center;
    }
    .container {
        position: relative;
    }
       
    
    .img-br{
        position: absolute;
        bottom: 0;
        right: 0;
        
    
</style>

<h1>About Us</h1>