
@{
    ViewData["Title"] = "About";
}
<style>
    body {
        /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
    h1 {
        text-align:center;
    }
    .container {
        position: relative;
    }
       
    
    .img-br{
        position: absolute;
        bottom: 0;
        right: 0;
        
    
</style>

<h1>About Us</h1>

<p>

    I want to help the staff at Avondale College to be able to present themselves with the profile we provided.
    For the students who want to search for our staff for whatever reason. 
    This website is designed to be easy to use.
    <br />My story. I have always wanted to know if there is an easier way to search for who I am looking for.
    So, I started this project.

</p>
   