
@{
    ViewData["Title"] = "About";
}
<style>
    body {
        /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
    h1 {
        text-align:center;
    }
    .container {
        position: relative;
    }
       
    
    .img-br{
        position: absolute;
        bottom: 0;
        right: 0;
        
    
</style>

<h1>About Us</h1>

<p>

    I am passionate about helping the staff at Avondale
    College to present themselves
    with the best possible profile. This website is designed 
    to be user-friendly for 
    students searching for our staff. My story began with a
    simple question: "Is there an easier way to
    search for who I am looking for?" This project is the answer.


</p>
   