@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
       /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>
    I respect your privacy. Our Privacy Policy explains what information is collected and why we collect it. 
    How we use that information.<br />
    <br /><b>Information collected</b><br />
    Information we collect is given to us by you. For example, registering an account or logging in. 
    I will only ask for your name, email address telephone number and staff subject/department information.
</p>