@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
       /*background-image: linear-gradient(white, #A19F9F); */
        background-color: white
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>details</p>