@model IEnumerable<WebApp.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

    <h1>Staff</h1>

<p hidden> <!--to hide the create new-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!--
<style>     
    .rectangle {
        height: 200px;
        width: 150px;
        background-color: #555;
        
    }

</style>
<div class="row">
    <div class="rectangle"></div>
    <div class="rectangle"></div>
</div>
-->

<div class="flex-container">
    <div>
        <div class="card card-style">
            <img class="card-img-top" src="/images/R.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-style">
            <img class="card-img-top" src="/images/R.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div>
        <div class="card card-style">
            <img class="card-img-top" src="/images/R.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>

