@model IEnumerable<WebApp.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

    <h1>Staff</h1>

<p hidden> <!--to hide the create new-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>     <!--attempt1-->
    .rectangle {
        height: 200px;
        width: 150px;
        background-color: #555;
        
    }

</style>
<div class="row">
    <div class="rectangle"></div>
    <div class="rectangle"></div>
</div>

<div class="card" style="width:20%" >
    <img src="https://www.pngall.com/wp-content/uploads/2/Dot-PNG-Free-Download.png" style="width:200px"/>
    <div class="container">
        <h4><b>image</b></h4>
        <p>something</p>
    </div>
</div>