
@{
    ViewData["Title"] = "profile";
}
<div class="go-back">
    <button onclick="history.back()" class="btn btn-primary">Go Back</button>
</div>

<h1 class="info">Profile</h1>

<style>
    table, tr, td {
        /*border: 1px solid black;*/
        border: 7px solid #191919;
        width: 100%;
        padding: 10px;
        background-color: white;
    }
    td {
        width: 50%;
    }
   
</style>

<table>
    <tr>
        <td>
            <img src="/images/blank-profile-picture-973460_1280.png" class="profile" />
        </td>
        <td rowspan="2" style="vertical-align: top">
            <h5>background</h5>
            <h5>I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy 
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
                I enjoy I enjoy I enjoy I enjoy I enjoy I enjoy
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h3>John Doe</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Email</h5>
        </td>
        <td>
            <h5>Subject</h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Number</h5>
        </td>
        <td>
            <h5>Department</h5>
        </td>
    </tr>
</table>

   
