
@{
    ViewData["Title"] = "profile";
}

<h1>profile</h1>
<style>
    card{
        margin-right:-10px;
</style>
<div class="position-absolute bottom-50 end-50">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/pink.jpg" />
    <div class="card-body">
        <h5 class="card-title">name</h5>
    </div>
</div>

<p>words</p>