
@{
    ViewData["Title"] = "profile";
}

<h1>profile</h1>

<!--sidebar-->
<div class="sidenav">
    <a href="#">-</a>
     <a href="#">-</a>
      <a href="#">-</a>
       <a href="#">-</a>
</div>

<button class="openbtn" onclick="openNav()">Open Sidebar</button>

<!--profile pic-->
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  