@model IEnumerable<WebApp.Models.Subject>

@{
    ViewData["Title"] = "Subject";
}
<!--
<style>

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            left-margin: 0px;
        }

</style>

<ul style="list-style-type: none;
        margin-top: -14px;
        margin-left: -75px;
        margin-right: -75px;
        padding: 0;
        line-height: 0px;
        width: auto;
        height: 30px;

        overflow: hidden;
        background-color: #333333;">
    <li><a href="#">link 1</a></li>
    <li><a href="#">link 2</a></li>
    <li><a href="#">link 3</a></li>
    <li><a href="#">link 4</a></li>
</ul>-->

<h1 class="info">Subject</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="flex-container">
    <!--first row-->
    
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/tim-arterbury-VkwRmha1_tI-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Art</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class ="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/nicholas-cappello-Wb63zqJ5gnE-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Commerce</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/maick-maciel-_v8C6BlpBzY-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Dance</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <!--second row-->
    
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/tamara-gak-1vZAezBEADw-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Drama</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/laura-ohlman-qRtcb9wHG40-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">English & Media</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/austris-augusts-52p1K0d0euM-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Health & Physical Education</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <!--third row-->
    
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/welcome-905562_1280.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Language</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Learning Development</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/clayton-robbins-ihqB-c8C7Bc-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Mathematics & Statistics</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <!--forth row-->

    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/marius-masalar-rPOmLGwai2w-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Music</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/aaker-RYjRmOQtlUA-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Outdoor Education</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-style">
            <img class="card-img-top" src="/images/hans-reniers-lQGJCMY5qcM-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Science</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <!--fifth row-->

    <div class="col-sm-4">
        <div class="card card-style col-sm-4 fifth">
            <img class="card-img-top" src="/images/nasa-Q1p7bh3SHj8-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Social Science</h4>
                
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class ="col-sm-4">
        <div class="card card-style col-sm-4 fifth">
            <img class="card-img-top" src="/images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Technology</h4>
               
                <a href="#" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>